body {
    height: 100%;
    width: 100%;
    /*background-image: url(../images/message_body_m.bmp);*/
}

table {
    height: 100%;
    width: 100%;
}

td {
    font-family: Arial, sans-serif;
    font-size: x-small;
}


table tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.hfSchoolYear, .hfSchoolCode, .hfEmployeeID, .hfTeacherName, .hfmyKey, .hfIDs {
    display: none;
    width: 0px;
}


.loading {
    font-size: large;
}

.img-selected {
    filter: contrast(300%);
}

.GridView-Selected {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
    color: purple;
}

.GridView-List tr:hover {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
    color: purple;
}

.GridView-List-Containor {
    overflow: auto;
    width: 100%;
    height: 100%;
}

    .GridView-List-Containor img {
        height: 18px;
        width: 18px;
        margin-top: 2px;
        margin-left: 2px;
    }

.EditDIV-Header {
    display: block;
    width: 100%;
    text-align: center;
    float: left;
}

.EditDIV-Header-Title {
    display: inline;
    float: left;
    font-size:1.3em;
    font-weight:600;
    color:darkred
}

.EditDIV-Header-Close {
    display: inline;
    float: right;
}

.EditDIV-Header-Close-Img {
    height: 20px;
    width: 20px;
    margin: -3px 0 -3px 0;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    /*   background-image: url(../images/close.png);
    background: url('../images/close.png') no-repeat;*/
}

    .EditDIV-Header-Close-Img:hover {
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

List-Action-Containor {
    display: flex;
    justify-content: space-between;
}

.List-Action {
    margin-top: 5px;
    display: inline-flex;
    /*     width: 100%;*/
    height: 25px;
}

    .List-Action:hover {
        font-size: 1.2em;
        font-weight: 500;
        color: purple;
    }

.List-Action-Title {
}

.List-Action-Image {
    border: 0px;
    Width: 16px;
    Height: 16px;
    margin-bottom: -3px;
    scroll-margin-right: 10px;
}



.List-Action-Title-Alter {
    display: inline;
    margin-left: 125px;
}

.staff-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: repeat(1,100%);
    margin: auto;
    text-align: left;
    width: 100%
}

.staff-list {
    text-align: left;
}
 
.GridView-header {
    background: linear-gradient(lightskyblue, white);
    color: black;
    font-size: 12px;
    Height: 25px;
}

#GridView1 td {
    border: 1px solid #e1d9d9;
}

#GridView1 th {
    font-size: x-small;
    background: dodgerblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(dodgerblue, lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(dodgerblue, lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(dodgerblue, lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(dodgerblue, lightblue); /* Standard syntax */
}

#GridView2 tr {
    background: dodgerblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(dodgerblue, lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(dodgerblue, lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(dodgerblue, lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(dodgerblue, lightblue); /* Standard syntax */
}

#GridView1 tr:hover {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
    color: purple;
}

#GridView1 tr:visited {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
    color: purple;
}

#GridView1 tr:focus {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
    color: purple;
}


#GridView2 th {
    border: 1px solid #e1d9d9;
    font-family: Arial, sans-serif;
    font-size: x-small;
}

 
#DivRoot {
    width: 100%;
    height: 100%;
}



#btnSearch, #btApplicant, #Button1, .GoButton {
    background-color: white;
    color: dodgerblue;
    font-weight: 600;
    height: 22px;
    width: 40px;
}

.HideColumn {
    display: none;
}

.iFrameDIV {
    height: 95%;
}

#alphabateSearch a:visited {
    text-decoration: underline;
}
