
body {
    width: 100%;
    height: 100%;
    margin: auto;
}

img {
    height: 25px;
    width: 25px;
    margin-bottom: -5px;
}


.ddlControls {
    height: 20px;
}
 

.Edit-Content {
    width: 100%;
    height: 100%;
    font-size:small;
}

    .Edit-Content img {
        height: 20px;
        width: 22px;
        margin-bottom: 0px;
        margin-top: -4px;
    }

.Calendar-Control{
    width:80px;
}

    .Calendar-Control:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }
.Edit-Content-Control {
    border: 1px solid grey;
    background-color: cornsilk;
}
    .Edit-Content-Control:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.Edit-Content-Locked {
    border: 1px solid grey;
 }

    .Edit-Content-Locked:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.ContentPageHeader {
    width: 100%;
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
}

.saveButton {
    width: 120px;
    margin-right: 50px;
}

    .saveButton:hover {
        background-color: coral;
        color: white;
    }

.saveButtonDisable {
    width: 120px;
    margin-right: 20px;
}
.action-button {
    border: 2px solid dodgerblue;
    text-align: center;
    outline: 0;
    border-radius: 9px;
    height: 25px;
    min-width: 150px;
}

    .action-button:hover {
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }
.textRight .label-right {
    text-align: right;
}
